@font-face {
    font-family: 'fliege';
    src: url(../public/FliegeMonoVF.woff2);
}

body {
    margin: 0;
    background-image: url('../public/image-mesh-gradient.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.time {
    font-family: 'fliege';
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.time-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-left: 75px;
    margin-bottom: 63px;
    gap: 5px;
}

.ampm-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ampm {
    font-family: 'fliege';
    color: white;
    font-size: 10px;
    font-weight: 500;
    opacity: 50%;
}

.time-active {
    opacity: 100%;
}

.sounds-wrapper {
    position: absolute;
    top: 0;
    margin-left: 55px;
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sound-name {
    color: white;
    font-family: 'fliege';
    font-size: 24px;
    font-weight: 500;
    opacity: 50%;
}

.sound-active {
    opacity: 100%;
    font-size: 32px;
}

.sound-name-wrapper {
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
}

.sound-indicator {
    width: 11px;
    height: 11px;
    opacity: 0%;
}

.sound-indicator-active {
    opacity: 100%;
}